node_modules
.env
.DS_Store
src/client/public/js/dev
src/client/public/js/dist
src/client/public/css
gc-writer-key.json
gc-reader-key.json
#TODO: replace with your own local dev directory
simple-spa-local-dev
