app-page-admin-line-items {
  .line-item__header {
    display: flex;
    align-items: center;

    h3 {
      margin-right: 1rem;
      margin-bottom: 0;
    }

    a {
      margin-right: .5rem;
    }

  }
}
