[hidden] {
  display: none !important;
}

.pointer {
  cursor: pointer;
}
.icon-link {
  text-decoration: none;
  cursor: pointer;
}
.icon-link:hover {
  color: var(--category-brand, #13639E);
  filter: brightness(1.4);
}
.bold {
  font-weight: 700;
}
.small {
  font-size: .875rem;
}

.skinny-form {
  padding: 1rem .5rem;
  border: 1px solid #ffbf00;
}
@media (min-width: 768px) {
  .skinny-form {
    padding: 2rem 1rem;
    width: 70%;
    margin: 0 auto;
  }
}
@media (min-width: 992px) {
  .l-basic--flipped .skinny-form {
    width: 90%;
  }
}
@media (min-width: 1200px) {
  .skinny-form {
    width: 70%;
  }
}

.flex {
  display: flex;
}
.flex--justify-center {
  justify-content: center;
}
.flex--align-center {
  align-items: center;
}

.vm-listing__figure {

  &.has-icon {
    width: 100px;
  }

  .icon-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    aspect-ratio: 1 / 1;
  }

}

.pad-icon-top {
  padding-top: .3rem;
}

.size-h4 {
  font-size: 1.092rem !important;
  line-height: 1.2 !important;
}
@media (min-width: 768px) {
  .size-h4 {
    font-size: 1.428rem !important;
  }
}
