approval-request-draft-list {
    .component {
        background-color: #FFF9E6;
        margin: 10px;
        padding: 40px;
    }

    .icon {
        color:#FFBF00;
        font-weight:900;
        font-size: 50px;
        margin-left:0;
        margin-right:10px;
    }
    .draft-heading {
        color:#022851;
        text-align:center;
        vertical-align:center;
        font-size: 28px;
        font-weight:800;
    }
    .component-header{
        display: inline-flex;
	    align-items: center;
    }
    .list-title{
       font-size: 19px; 
    }
    .list-description{
       font-size: 16px; 
    }
    a {
        cursor:pointer;
    }
  }