app-approver-type {
    .approvertype-block{
        border-bottom: medium solid #DBEAF7;
        padding:15px, 0px, 15px, 0px;
    }
    .user-icon{
        color:#13639E;
        margin-left:10px;
        width:15px;
        height:15px;
        cursor: pointer;

    }
    .trash-icon{
        color:#C10230;
        margin-left:10px;
        width:15px;
        height:15px;
        cursor: pointer;
    }

    .field-container{
        font-size:19px;
    }

    .textLabel{
        margin: 10px 0px;
    }

    .section-header{
        margin-top:10px;
    }

    .approvertype-form{
        border-bottom: medium solid #DBEAF7;
    }
    .btn {
        margin: 15px 10px 5px 0px;
    }

  }
