reimbursement-form {
  --l-gap-override: 1rem;

  .l-second {
    margin-top: 0 !important
  }

  .expense-comparison {

    .l-first {
      margin-top: 0 !important;
    }

    .total-row {
      font-weight: 700;
      border-top: 1px solid #DBEAF7;
      padding-top: .5rem;
    }

    @media (min-width: 992px) {
      .amount {
        text-align: right;
      }
    }
  }
}
