app-page-approval-request {

  .l-content section {
    margin-bottom: 2.5rem;
  }

  .activity-history {

    .action:first-child {
      padding-top: 0;
    }

    .action {
      padding: 1rem 0;
      border-bottom: 1px solid #b0d0ed;

      .name-role {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        .dot {
          width: .3rem;
          height: .3rem;
          min-width: .3rem;
          min-height: .3rem;
          border-radius: 50%;
          background-color: #b0d0ed;
          margin-right: 10px;
          margin-left: 10px;
        }
      }
      @media (max-width: 768px) {
        .name-role {
          display: block;
        }
      }

      .comment {
        margin-left: 40px;
        margin-top: .5rem;
      }

      .action__header {
        display: flex;

        .icon {
          display: flex;
          justify-content: center;
          width: 40px;
          min-width: 40px;
          margin-left: 0;
          margin-top: 3px;
        }

        .content {
          flex-grow: 1;
        }
        .date {
          text-align: right;
          min-width: 115px;
          width: 115px;
          font-size: .875rem;
          color: #4C4C4C;
        }
      }
    }
  }

  #approval-request--reimbursement-requests {

    .row {
      padding: 1rem 0;
      border-bottom: 1px solid #b0d0ed;

      &.row--header {
        display: none;
        font-weight: 700;
        color: #022851;
        border-bottom: 2px dotted #ffbf00;
        padding-top: 0;
      }

      .reimbursement-amount__label {
        color: #4c4c4c;
        font-weight: 700;
        font-size: .875rem;
      }
    }
    .rr-field {
      font-size: .875rem;

      .colon {
        display: none;
      }

      div:first-child {
        font-weight: 700;
        color: #4c4c4c;
      }
    }

    @media (min-width: 480px) {
      .row {
        display: grid;
        grid-template-columns: 1fr 100px 100px;
        grid-gap: 1rem;

        &.row--header {
          display: grid;
        }

        .reimbursement-amount {
          text-align: right;
        }

        .reimbursement-amount__label {
          display: none;
        }
      }
    }

    @media (min-width: 768px) {
      .row {
        grid-template-columns: 1fr 120px 120px;
      }
      .rr-field {
        display: flex;
        align-items: center;

        .colon {
          display: inline;
        }
        div:first-child {
          margin-right: .5rem;
        }
      }
    }
  }

}
