.field-error {
  input {
    border: 1px solid #c10230;
  }
  textarea {
    border: 1px solid #c10230;
  }
  .field-error-message {
    color: #c10230;
    display: block;
  }
  label {
    color: #c10230;
  }
}
fieldset.field-error {
  border-top: 3px solid #c10230;

  > legend {
    color: #c10230;
  }
}
.field-error-message {
  display: none;
}
.field-help {
  font-size: .875rem;
  color: #13639e;
}
.radio .option-description, .checkbox .option-description {
  padding-left: 2.5rem;
  font-weight: 400;
  font-size: .875rem;
  margin-bottom: .5rem;
}
.radio--horizontal {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;

}
.field-container {
  margin-bottom: 1rem !important;
}

.input--dollar {

  position: relative;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  border: 1px solid #999;
  width: 155px;

  &::before {
    content: '$';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    min-width: 2rem;
    color: #022851;
    background-color: #DBEAF7
  }

  input {
    padding-left: 2.5rem;
    border: none;
    box-shadow: none;
    height: calc(2.5rem - 2px);
  }
}

.skinny-form {
  padding: 1rem .5rem;
  border: 1px solid #ffbf00;
}
@media (min-width: 768px) {
  .skinny-form {
    padding: 2rem 1rem;
    width: 70%;
    margin: 0 auto;
  }
}
@media (min-width: 992px) {
  .l-basic--flipped .skinny-form {
    width: 90%;
  }
}
@media (min-width: 1200px) {
  .skinny-form {
    width: 70%;
  }
}

input:disabled {
  background-color: #f0f0f0;
  opacity: .4;
}

