.flex {
  display: flex;
}
.flex--justify-center {
  justify-content: center;
}
.flex--justify-end {
  justify-content: flex-end;
}
.flex--align-center {
  align-items: center;
}
.flex--space-between {
  justify-content: space-between;
}
.flex--wrap {
  flex-wrap: wrap;
}
.flex--grow {
  flex-grow: 1;
}
.flex--column {
  flex-direction: column;
}
.approval-request-teaser-wrapper {
  padding: 1rem;
  margin-bottom: 1rem;
  border-left: 1px solid #ffbf00;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
.width-100 {
  width: 100%;
}
.container-type--normal {
  container-type: normal !important;
}
