.vm-listing__figure {
  &.has-icon {
    width: 100px;
  }

  .icon-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    aspect-ratio: 1 / 1;
  }
}
.panel__title {
  margin-bottom: 1rem;
}

@media (max-width: 767px) {
  .l-shrink {
    width: 100%;
  }
}

.tabs {

  .tabs__item {
    background-color: transparent;
  }

  .tabs__item--active {
    background-color: #13639e;
    color: #fff;
  }

}

